*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppin-font);
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  background: rgb(0, 0, 0); 
}

:root{
  --poppin-font : font-family: "Inter", sans-serif;
  --background-color : #0F0F0F;
  --tranparent-div : rgb(22, 22, 22);
  --font-color : #ffffff;
  --para-color : #5c5c5c;
  --border-color :  rgb(114, 107, 107);
  --theme-color : rgb(83, 56, 107);
  --bg-color : rgb(56, 56, 56);
  --light-div: rgb(46, 45, 45);
}